<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E2 Motors</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SistemaVeiculos.styles.css" asp-append-version="true" />
    <script src="~/js/previewImages.js" asp-append-version="true"></script>
    <link rel="icon" href="/images/Icone.png" type="image/png">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark custom-navbar box-shadow mb-3">
            <div class="container">
                <a class=" navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img
                        src="/images/Logo.png" alt="Logo MotorHub" style="max-width: 100px; max-height: 100px;"></a>
                <button class=" navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ml-auto" id="navbarNav">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Veiculo" asp-action="Index">Veículos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Cliente" asp-action="Index">Clientes</a>
                        </li>
                        @* <li class="nav-item">
                        <a class="nav-link" asp-controller="Compras" asp-action="Index">Compras</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" asp-controller="Vendas" asp-action="Index">Vendas</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" asp-controller="Trocas" asp-action="Index">Trocas</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Privacy">Sobre</a>
                        </li>
                    </ul>
                </div>
        </nav>
    </header>

    <!-- Conteúdo da página -->
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer mt-5 text-dark">
        <div class="container">
            &copy; 2023 - SistemaVeiculos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
